[build]
builder = "DOCKERFILE"
dockerfilePath = "docker/Dockerfile.backend"

[deploy]
numReplicas = 1
sleepApplication = false
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
startCommand = "python api_server.py"

[[deploy.healthcheck]]
path = "/api/health"
port = 3090
