[build]
builder = "DOCKERFILE"
dockerfilePath = "docker/Dockerfile.backend"

[deploy]
numReplicas = 1
sleepApplication = false
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[deploy.healthcheck]]
path = "/api/health"
port = 3090
